@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
    background-color:#d4e0d9 ;
}

.slide img {
    width: 90px;
    border-radius: 150%;
    margin-left: 60px;
}

.slide{
    height: 100%;
    width: 210px;
    position: absolute;
    background-color: white;
    transition: all 0.5s ease;
    transform: translateX(-300px);
}

h2{
    color: rgb(72, 215, 158);
    font-weight: 800;
    text-align: right;
    padding: 20px 0;
    padding-right: 30px;
    pointer-events: none;
    margin-left: 10px;
}

ul li{
    list-style: none;
}

ul li a{
    color: gray ;
    font-weight: 500;
    padding: 20px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    margin-left: 20px;
}

li a:hover {
    padding-left: 20px;
    color: gray;
    background-color: rgb(72, 215, 158);
}

ul li a i {
    width: 40px;
    text-align: center;
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:  rgb(72, 215, 158);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .ligne {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: gray;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .haut { 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.toggle .milieu { 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.toggle .bas { 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

input:checked ~ .toggle .haut {
   left: 2px;
   top: 14px;
   width: 25px;
   transform: rotate(45deg);
}


input:checked ~ .toggle .bas {
   left: 2px;
   top: 14px;
   width: 25px;
   transform: rotate(-45deg);
}


input:checked ~ .toggle .milieu {
   left: 2px;
   top: 14px;
   width: 25px;
   transform: translateX(20px);
}

input:checked ~ .toggle .milieu {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
   transform: translateX(0px);
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}